## this file contain all the dependencise require for this project


##=================================
## Data Manupulation
##=================================
pandas 
numpy

##=================================
## Web Crawling
##=================================
playwright
pyyaml
beautifulsoup4
aiofiles
markdownify

##================================
## Token Configuration
##================================
tiktoken

##===============================
## Langchain Family
##===============================
langchain_core
langchain_text_splitters
langchain_cohere
langchain_qdrant

##===============================
## Qdrant Vector DB
##===============================
qdrant-client